@use "page-margin";

@media print {
  @page {
    size: letter;
    margin: page-margin.$page-margin;
  }
}

body {
  margin: 0;
  padding: 0;
}

@mixin edge-to-edge-color {
  position: relative;
  border: none;
  background-color: var(--edge-to-edge-background-color);
  color: var(--edge-to-edge-text-color);

  &::before {
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: -(page-margin.$page-margin);
    right: -(page-margin.$page-margin);
    background-color: var(--edge-to-edge-background-color);
    content: "";
  }
}

article.edge-to-edge-color {
  @include edge-to-edge-color;
}

article.filled-top-of-page {
  break-before: page;
  margin-top: 0 !important;
  padding-top: 0 !important;

  @include edge-to-edge-color;

  &::before {
    top: -(page-margin.$page-margin);
  }
}

.no-page-break-before {
  break-before: avoid;
}

.no-page-break-after {
  break-after: avoid;
}

.no-page-break {
  break-inside: avoid;
}
